html {
    height: 100%;
}

body{
    background-image: url( images/mine.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
  .container {
     margin-left: auto;
     margin-right: auto;
     width: 1024px;
  }

nav {
    background-color: rgba(0, 0, 0, 0.253);
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    text-align: center; 
    padding-top: 14px;
    padding-bottom: 14px;
   
}

main {
        height: 70px
        }

        
footer{
    background-color: greenyellow;
    height:40px
}


h1 {
    font-size: 30px;
    color: rgb(168, 207, 240);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

p {
    font-size: 100px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

a { 
    font-size: 50px;
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    
}



