html {
    height: 100%;
}

body{
    background-image: url( images/mine.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
  .container {
     margin-left: auto;
     margin-right: auto;
     width: 1024px;
  }

nav {
    background-color: rgba(0, 0, 0, 0.253);
    height:50px
    text-align: center;
}

main {
        height:70px
        }


h1 {
    font-size: 30px;
    color: rgb(168, 207, 240);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

p {
    font-size: 100px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

a { 
    font-size: 50px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: right;
}


footer{
    background-color: greenyellow;
    height:40px
}
