
*{ /* to position webpage for text design*/
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}

body{ /* backgroung image positioning */
    background-image: url( images/mine.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;      
}
  .container { /* style for header section */
     margin: auto;
     width: 100%;
  }

  nav{ /* style for nav bar position*/
      float: right;
  }

  nav li{ /* style for nav bar and position*/
      display: inline-block;
      padding-top: 35px;      
  }

  nav li a{ /* style for nav elements*/
      color:rgb(59, 31, 5);
      padding: 5px 20px;
      border: 1px solid rgba(255, 255, 255, 0.212);
  }

  nav li a:hover{ /* style for hovering in nav bar*/
      background-color: white;
      color:rgb(243, 138, 18);
  }

  nav li.active a{ /*style for active page color display on nav bar*/
      background-color: white;
      color:rgb(243, 138, 18);
 }

  main { /*style for text position*/
      position: fixed;      
      top:60%;
      left:35%;      
      color:rgb(243, 138, 18);
  }
  
p { /*font size for paragraph*/
    font-size: 5vw; 
  }

.click { /* style for about me button for position and display*/
    position: fixed; 
    top:75%;
    left:45%;
    color:rgb(243, 138, 18);
    display: inline-block;    
    padding: 5px 20px;
    border: 1px solid rgba(255, 255, 255, 0.212); 
    background-color: white;
    
}

footer { /* styles for footer */
    position: fixed; 
    top:85%;
    left:40%; 
    color:rgb(243, 138, 18);             
 }

 footer a{   /* design for footer icon display*/
    color:rgb(243, 138, 18); 
    margin: 25px; 
    font-size: 30px   
 }
 
 footer p1{ /*style for footer paragraph*/
    position: fixed; 
    top:93%;
    left:41%;    
 }
 






